.BlankLayout_container__nIF9h {
  height: 100vh;
  background: #17191c;
  overflow-x: hidden;
}
.BlankLayout_canvas__laAoi {
  width: 100vw;
  height: 100vh;
}
.BlankLayout_main__Q7MHe {
  background: rgba(37, 40, 45, 0.4);
  border: 1px solid #333;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  position: relative;
  z-index: 2;
}
.BlankLayout_manageButton__E4b2_ {
  background: #e8b95c;
  border-radius: 40px;
  color: #0c0500;
  transition: background-color 0.2s ease-in-out;
}
.BlankLayout_manageButton__E4b2_:hover {
  background: #f8d581;
}
.ColumnLayout_container__bxEwy {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 80px;
}
.ColumnLayout_navigationWrapper__vMtg3 {
  display: none;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 16px 30px;
}
@media (min-width: 960px) {
  .ColumnLayout_navigationWrapper__vMtg3 {
    display: flex;
  }
}
.ColumnLayout_navLink__wkyuh {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  color: #fafafa;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 15px;
  position: relative;
  white-space: nowrap;
}
.ColumnLayout_navLink__wkyuh > svg {
  margin-right: 10px;
  flex-shrink: 0;
}
.ColumnLayout_navLink__wkyuh:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 5px;
  left: 50%;
  background-color: #fafafa;
  transition: width 0.3s ease, left 0.3s ease;
}
.ColumnLayout_navLink__wkyuh:hover:after {
  width: 100%;
  left: 0;
}
.ColumnLayout_main__vygis {
  display: grid;
  grid-template-columns: auto;
  padding: 40px;
  width: 100%;
  margin: 0 auto;
  gap: 40px;
}
@media (min-width: 1280px) {
  .ColumnLayout_main__vygis {
    max-width: 1280px;
  }
}
@media (min-width: 980px) and (max-width: 1280px) {
  .ColumnLayout_main__vygis {
    max-width: 980px;
  }
}
@media (min-width: 1024px) {
  .ColumnLayout_main__vygis.ColumnLayout_hasNodes__ijwVz {
    grid-template-columns: 1fr 220px;
  }
  .ColumnLayout_main__vygis.ColumnLayout_noNodes__dVYwo {
    grid-template-columns: auto;
  }
}
.ColumnLayout_right__iAht8 {
  display: flex;
  flex-direction: column;
  text-align: left;
  overflow: hidden;
}
.ColumnLayout_navigation__8X3d3 {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}
.ColumnLayout_item__gL6sU {
  margin-left: 2px;
}
.DefaultLayout_container__OyBgN {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.DefaultLayout_main__6TlnF {
  margin: 30px auto 0;
  width: 100%;
  z-index: 0;
  position: relative;
}
.Common_linkStyle__vbEil {
  text-decoration: none;
  font-weight: 400;
  color: #fff;
  position: relative;
  display: inline-block;
  transition: opacity 0.2s ease-in-out;
  margin-bottom: 16px;
}
.Common_linkStyle__vbEil:hover {
  opacity: 0.7;
}
.Common_linkStyle__vbEil span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2.1px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out;
}
.Common_linkStyle__vbEil:hover span:before {
  visibility: visible;
  transform: scaleX(1);
}
.Common_categoryToolbar__jHQdI {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}
@media (min-width: 1000px) {
  .Common_categoryToolbar__jHQdI {
    padding: 16px 30px;
  }
}
.Common_categoryHome__Yq02y {
  width: 100%;
  max-width: -moz-fit-content;
  max-width: fit-content;
  height: 44px;
  justify-content: center;
  margin-right: auto;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
  padding: 0 12px;
  gap: 4px;
  background: #101113;
  transition: background-color 0.15s ease-in-out;
}
.Common_categoryHome__Yq02y,
.Common_iconHome__x_tQg {
  display: flex;
  align-items: center;
}
.Common_iconHome__x_tQg svg path {
  transition: fill 0.15s ease-in-out;
  fill: #ccc;
}
.Common_iconHome__x_tQg:hover svg path {
  fill: #fff;
}
.Common_emptyMargin__nRH3E {
  margin: 150px;
}
.Common_categoriesWrapper__OLYKS {
  margin-top: var(--block-spacing);
  position: relative;
}
.Common_categoriesWrapper__OLYKS h2 {
  text-align: center;
  margin-bottom: 64px;
}

/*  */
.get-a-question{
  margin: 50px 0px;
  padding: 60px;
  border-top: 2px solid var(--color-gray-300);
}
.Footer_socialLink__qTRGK {
  display: flex;
  margin: 10px;
}
.Footer_socialLink__qTRGK:last-child {
  margin-right: 0;
}
.Footer_socialLink__qTRGK:first-child {
  margin-left: 0;
}
.Footer_socialLink__qTRGK > svg {
  display: flex;
  height: 20px;
  width: 20px;
}
.Footer_socialLink__qTRGK > svg > path {
  fill: #999;
}
.Footer_socialLink__qTRGK:hover > svg > path {
  fill: #fff;
}
.Footer_social__9Pmtv {
  grid-area: social;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media (min-width: 992px) {
  .Footer_social__9Pmtv {
    justify-content: start;
  }
}
.Footer_legal__hJiux {
  grid-area: legal;
  display: flex;
  flex-direction: row;
  text-align: left;
  font-size: var(--main-body-font-size);
  justify-content: center;
}
.Footer_legal__hJiux > * {
  margin-right: 8px;
}
@media (min-width: 992px) {
  .Footer_legal__hJiux {
    justify-content: start;
  }
}
.Footer_base__FBS2_ {
  display: flex;
  border-top: 1px solid #474747;
}

.Footer_baseWrapper__ndLT3,
.Footer_base__FBS2_ {
  width: 100%;
  align-items: center;
  justify-content: center;
}
.Footer_baseWrapper__ndLT3 {
  display: grid;
  max-width: 1400px;
  row-gap: 0;
  padding: 40px 20px;
  text-align: center;
  grid-template-columns: 1fr;
  grid-template-areas: "social" "made" "privacy" "legal";
  border-top: 2px solid var(--color-gray-300);
}
@media (min-width: 992px) {
  .Footer_baseWrapper__ndLT3 {
    padding: 25px 30px;
    text-align: left;
    grid-template-areas: "made privacy blank blank social" "legal privacy blank blank social";
  }
}
.Footer_footerLinks__8V1S0 {
  display: flex;
  margin-left: 8px;
  gap: 12px;
}
.Footer_linkStyle__0u8Fj {
  text-decoration: none;
  font-weight: 300;
  color: #fff;
  position: relative;
  display: inline-block;
  transition: opacity 0.2s ease-in-out;
}
.Footer_linkStyle__0u8Fj:hover {
  opacity: 0.7;
}
.Footer_categoryColumn__A_Ans {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Footer_links__dTUvB {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 20px;
  color: green;
  border-top: 2px solid var(--color-gray-300);
}
@media (min-width: 1000px) {
  .Footer_links__dTUvB {
    display: flex;
    width: 100%;
    max-width: 1400px;
    flex-direction: row;
    padding: 40px 30px;
  }
}
.Footer_linkCategory__ajAVR {
  display: flex;
  flex-direction: column;
  width: 160px;
  padding: 0;
  flex-basis: 0;
}
@media (min-width: 640px) {
  .Footer_linkCategory__ajAVR {
    flex-basis: 15%;
    width: 190px;
  }
}
.Footer_linkCategoryTitle__KkK1B {
  text-decoration: none;
  font-weight: 300;
  font-family: var(--body-font-family);
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.13em;
  font-size: 15px;
  margin-top: 48px;
}
@media (min-width: 992px) {
  .Footer_linkCategoryTitle__KkK1B {
    margin-top: 0;
  }
}
.__404_hoverableSvg__s_p4z {
  transition: transform 0.3s ease, filter 0.3s ease;
  margin: 2rem 0;
}
.__404_hoverableSvg__s_p4z:hover {
  transform: scale(1.05) rotate(5deg);
  filter: brightness(110%);
}
.__404_contentWrapper___6KW2 {
  max-width: 600px;
  margin: auto;
  padding: 0 1rem;
}
@media (max-width: 768px) {
  .__404_contentWrapper___6KW2 {
    padding: 0 25px;
  }
}
.__404_contentWrapper___6KW2 p {
  margin-bottom: 2rem;
}
.BlockSectionStatic_blockSectionStatic__0i3ly {
  display: flex;
  margin-bottom: 30px;
  flex-direction: column;
  align-items: var(--blockSectionStatic-align, flex-start);
}
.BlockSectionStatic_blockSectionStatic__0i3ly h1 {
  font-weight: 700;
  font-size: 52px;
  line-height: 125%;
  margin-bottom: 40px;
}
.BlockSectionStatic_blockSectionStatic__0i3ly h2 {
  font-weight: 700;
  font-size: 21px;
  line-height: 125%;
  margin-bottom: 20px;
}
.BlockSectionStatic_blockSectionStatic__0i3ly p {
  color: #f0f0f0;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02rem;
}
.BlockSectionStatic_blockSectionStatic__0i3ly a > p {
  margin: 0;
  color: #fff;
}
.BlockSectionStatic_blockSectionStatic__0i3ly ol,
.BlockSectionStatic_blockSectionStatic__0i3ly ul {
  margin-bottom: 40px;
}
.BlockSectionStatic_blockSectionStatic__0i3ly ol li,
.BlockSectionStatic_blockSectionStatic__0i3ly ul li {
  margin-bottom: 10px;
  margin-left: 18px;
  padding-left: 8px;
}
.BlockSectionStatic_blockSectionStatic__0i3ly ol li {
  list-style-type: decimal;
}
.BlockSectionStatic_blockSectionStatic__0i3ly ul li {
  list-style-type: disc;
}
.BlockSectionStatic_blockSectionStatic__0i3ly iframe {
  display: block;
  width: 100%;
  height: 500px;
  position: relative;
  margin-bottom: 3rem;
}
.PlansLayout_container__JIdAE {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
}
.PlansLayout_main__R9RVp {
  margin: 40px auto 0;
  width: 100%;
  z-index: 0;
  position: relative;
}
@media (min-width: 992px) {
  .PlansLayout_main__R9RVp {
    margin: 20px auto 0;
  }
}
.PlansWebappLayout_container__2iSRP {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
}
.PlansWebappLayout_main__oB6Ht {
  margin: 0 auto;
  width: 100%;
  z-index: 0;
  position: relative;
}
.PricingLayout_container__dN1f_ {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
} 
.PricingLayout_main__tEe74 {
  margin: 40px auto 0;
  width: 100%;
  z-index: 0;
  position: relative;
}
@media (min-width: 992px) {
  .PricingLayout_main__tEe74 {
    margin: 20px auto 0;
  }
}
.UpgradeLayout_container__myWij {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
}
.UpgradeLayout_main__2VUqW {
  margin: 40px auto 0;
  width: 100%;
  z-index: 0;
  position: relative;
}
@media (min-width: 992px) {
  .UpgradeLayout_main__2VUqW {
    margin: 20px auto 0;
  }
}


/* pricing features */


.gaRKCS { 
    display: none; 
    flex-direction: column; 
    position: relative;
} 

@media (min-width: 992px){ 
  .gaRKCS { 
    display: flex; 
    height: 1200px; 
    overflow: clip; 
    margin-bottom: 150px;
  } 
}     



.bcVtqt { 
    display: flex; 
    margin: 0px auto 20px; 
    justify-content: center; 
    cursor: pointer; 
    gap: 10px; 
    align-items: center;
} 

.cLHnjr { 
    border-radius: 24px; 
    display: flex; 
    flex-direction: column; 
    padding: 0px; 
    margin-bottom: 100px; 
    overflow-x: auto; 
    max-width: 100%;
} 

@media (min-width: 992px){ 
  .cLHnjr { 
    overflow-x: inherit; 
    max-width: var(--block-max-width);
  } 
}     

.iWidI { 
    display: flex; 
    align-items: flex-end; 
    justify-content: center; 
    position: absolute; 
    z-index: 1; 
    width: 100%; 
    height: 300px; 
    bottom: 0px; 
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
} 

button { 
    font-family: inherit; 
    font-feature-settings: inherit; 
    font-variation-settings: inherit; 
    font-size: 100%; 
    font-weight: inherit; 
    line-height: inherit; 
    color: inherit; 
    margin: 0; 
    padding: 0;
} 

button { 
    text-transform: none;
} 

button { 
    -webkit-appearance: button; 
    background-color: transparent; 
    background-image: none;
} 

button { 
    cursor: pointer;
} 

.fBsQQb { 
    display: flex; 
    border-radius: 50px; 
    padding: 8px 24px; 
    color: rgb(255, 255, 255); 
    background: var(--color-secondary); 
    transition: background-color 250ms ease-in-out;
} 

.fBsQQb:hover { 
    background: var(--color-primary-60);
} 

.bUKQzl { 
    display: flex; 
    flex-direction: column; 
    position: relative; 
    padding: 0px 20px; 
    white-space: nowrap;
} 

@media (min-width: 992px){ 
  .bUKQzl { 
    width: 100%; 
    white-space: normal; 
    padding: 0px 30px;
  } 
}     

.bSOxyG { 
    display: grid; 
    min-height: 28px; 
    grid-template-columns: 28% 18% 18% 18%; 
    justify-content: space-around; 
    border-bottom: 1px solid rgb(33, 40, 49); 
    justify-items: center;
} 

@media (min-width: 940px){ 
  .bSOxyG { 
    grid-template-columns: 28% 18% 18% 18%; 
    text-align: center; 
    gap: 0px;
  } 
}     

@media (min-width: 992px){ 
  .bUKQzl > div:first-child  { 
    border-bottom: 0px; 
    max-height: 60px; 
    background: transparent; 
    position: sticky; 
    top: 60px; 
    z-index: 2;
  } 
}     

@media (min-width: 940px){ 
  .bSOxyG:hover { 
    background: transparent;
  } 
}     

.bUKQzl > div:nth-child(2)  { 
    display: none;
} 

@media (min-width: 992px){ 
  .bUKQzl > div:nth-child(2)  { 
    display: grid; 
    border-bottom: 0px; 
    max-height: 80px; 
    position: sticky; 
    top: 118px; 
    background: transparent; 
    z-index: 2; 
    align-items: flex-start;
  } 
}     

.bUKQzl > div:nth-child(3)  { 
    display: none;
} 

@media (min-width: 992px){ 
  .bUKQzl > div:nth-child(3)  { 
    display: grid; 
    border-bottom: 0px; 
    max-height: 80px; 
    position: sticky; 
    top: 176px; 
    background: transparent; 
    z-index: 2; 
    align-items: flex-start;
  } 
}     

.gAYwEG { 
    display: grid; 
    min-height: 28px; 
    grid-template-columns: 28% 18% 18% 18%; 
    justify-content: space-around; 
    border-bottom: 1px solid rgb(33, 40, 49); 
    justify-items: center;
} 

@media (min-width: 940px){ 
  .gAYwEG { 
    grid-template-columns: 28% 18% 18% 18%; 
    text-align: center; 
    gap: 0px;
  } 

  .gAYwEG:hover { 
    background: rgb(16, 20, 24);
  } 
}     

.bUKQzl > div:last-child  { 
    display: none;
} 

@media (min-width: 992px){ 
  .bUKQzl > div:last-child  { 
    border-bottom: 0px;
  } 
}     

.body-small { 
    font-weight: 500;
} 

.body-small { 
    font-size: 16px;
} 

.gray { 
    color: var(--color-gray)!important;
} 

.bQOIWt { 
    display: flex; 
    font-size: 16px; 
    padding: 12px 10px 12px 16px; 
    align-items: center; 
    justify-content: space-between; 
    word-break: initial; 
    background: transparent; 
    left: -1px; 
    z-index: 1; 
    white-space: normal; 
    width: 100%; 
    justify-self: flex-start; 
    text-align: left;
} 

@media (min-width: 940px){ 
  .bQOIWt { 
    position: inherit; 
    background: none;
  } 
}     

.eUSarm { 
    display: flex; 
    font-size: 14px; 
    align-items: center; 
    justify-content: center; 
    padding: 12px 10px; 
    border-radius: 16px 16px 0px 0px; 
    width: 140px; 
    white-space: normal; 
    text-align: center;
} 

@media (min-width: 992px){ 
  .eUSarm { 
    border: 0px; 
    padding: 12px 2px; 
    max-width: inherit;
  } 
}     

.h-20 { 
    height: 5rem;
} 

.dajzYA { 
    display: grid; 
    grid-template-rows: auto; 
    font-size: 16px; 
    border: 0px; 
    padding: 20px 0px 0px; 
    width: 140px;
} 

@media (min-width: 992px){ 
  .dajzYA { 
    width: 100%; 
    padding: 12px 20px; 
    border-radius: 0px 0px 16px 16px; 
    align-items: center;
  } 
}     

.bYSwLq { 
    display: flex; 
    font-size: 14px; 
    padding: 12px 10px 12px 16px; 
    align-items: center; 
    justify-content: space-between; 
    word-break: initial; 
    left: -1px; 
    z-index: 1; 
    white-space: normal; 
    width: 180px; 
    justify-self: flex-start; 
    text-align: left;
} 

@media (min-width: 940px){ 
  .bYSwLq { 
    position: inherit;
  } 
}     

.bYSwLq.large { 
    font-size: 24px; 
    padding-top: 18px; 
    color: rgb(255, 255, 255) !important;
} 

.ceHwWy { 
    display: flex; 
    font-size: 14px; 
    align-items: center; 
    justify-content: center; 
    padding: 12px 10px; 
    border-radius: 0px; 
    width: 140px; 
    white-space: normal; 
    text-align: center;
} 

@media (min-width: 992px){ 
  .ceHwWy { 
    border: 0px; 
    padding: 12px 2px; 
    max-width: inherit;
  } 
}     

.aLtyc { 
    display: flex; 
    font-size: 14px; 
    padding: 12px 10px; 
    align-items: center; 
    justify-content: center; 
    max-width: 140px; 
    white-space: normal; 
    text-align: center;
} 

@media (min-width: 992px){ 
  .aLtyc { 
    background: none; 
    backdrop-filter: none; 
    padding: 0px 2px;
  } 
}     

.h3-reg { 
    margin-top: 0; 
    margin-bottom: .5rem; 
    color: var(--body-color);
} 

.h3-reg { 
    font-size: 36px;
} 

.h3-reg { 
    font-weight: 500; 
    line-height: 128%;
} 

.Zmsux { 
    margin-top: 20px; 
    font-size: 20px; 
    color: rgb(250, 250, 250);
} 

@media (min-width: 940px){ 
  .Zmsux { 
    font-size: 24px;
  } 
}     

.text-xl { 
    font-size: 1.25rem; 
    line-height: 1.75rem;
} 

.text-sm { 
    font-size: .875rem; 
    line-height: 1.25rem;
} 

.text-gray-400 { 
    --tw-text-opacity: 1; 
    color: rgb(156 163 175/var(--tw-text-opacity));
} 

a { 
    color: inherit; 
    text-decoration: inherit;
} 

.body-semibold { 
    font-weight: 600; 
    font-size: 18px;
} 

.btn { 
    margin: 0; 
    font-family: inherit; 
    font-size: inherit; 
    color: inherit; 
    border: 0;
} 

.btn { 
    border-width: var(--border-width); 
    border-radius: var(--border-radius); 
    background-color: var(--color-primary); 
    color: var(--color-gray-100); 
    box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    padding: .6rem 1.5rem; 
    transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
} 

.btn-secondary { 
    border-color: var(--border-color); 
    border-style: var(--border-style); 
    background-color: var(--color-bg-transparent); 
    color: var(--color-gray-100);
} 

.fGDEef { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 42px; 
    text-decoration: none; 
    border-radius: 28px;
} 

.btn:not(:disabled) { 
    cursor: pointer;
} 

.btn-secondary:hover { 
    color: var(--color-gray-100); 
    border-color: var(--color-bg-transparent); 
    border-width: 1px;
} 

.btn-secondary:hover { 
    background-color: var(--color-primary);
} 

.ffGJSa { 
    display: flex; 
    width: 100%; 
    position: relative; 
    background: none; 
    border: 0px; 
    outline: 0px; 
    padding: 0px;
} 

.brIEOA { 
    padding-top: 0px; 
    font-size: 22px; 
    color: rgb(255, 255, 255); 
    white-space: nowrap;
} 

.hRHMuo { 
    display: flex;
} 

.bGHGvY { 
    display: flex; 
    width: 20px; 
    height: 20px;
} 

.kqKzoh { 
    padding-top: 50px; 
    font-size: 22px; 
    color: rgb(255, 255, 255); 
    white-space: nowrap;
} 

b { 
    font-weight: bolder;
} 

.kecHTx { 
    display: flex; 
    border-radius: 28px; 
    width: 100%; 
    place-content: stretch center; 
    margin: 0px auto 32px; 
    align-items: center; 
    height: 42px; 
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; 
    will-change: transform, opacity; 
    transform: translateY(0px); 
    opacity: 1;
} 

@media (min-width: 992px){ 
  .kecHTx { 
    max-width: 100%;
  } 
}     

.btn-primary:hover { 
    color: var(--color-gray-100); 
    border-color: var(--color-bg-transparent); 
    border-width: 1px;
} 

.btn-primary:hover { 
    background-color: var(--button-hover-color);
} 

.kecHTx:hover { 
    transform: translateY(-5px); 
    opacity: 0.8;
} 

img { 
    display: block; 
    vertical-align: middle;
} 

img { 
    max-width: 100%; 
    height: auto;
} 

.erkjOI { 
    transition: opacity 150ms ease-in-out; 
    margin: 0px !important;
} 

.dajzYA span  { 
    margin-bottom: 0.5rem;
} 

.dRMdQj { 
    text-align: left; 
    cursor: pointer; 
    text-underline-offset: 4px;
} 

.dRMdQj:hover { 
    text-decoration: underline dashed var(--border-color);
} 


